<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Automation_Framework Suite" parallel="classes" thread-count="2">
    <test name="ExampleTest" >

<!--        <groups>-->
<!--            <run>-->
<!--                <include name="" />-->
<!--            </run>-->
<!--        </groups>-->

        <classes>
           <class name="tests.ExampleTest"></class>
            <class name="tests.ExampleTest2"></class>
       </classes>

    </test>
<!--    <test name="ExampleTest2">-->
<!--        <classes>-->
<!--            <class name="tests.ExampleTest2"></class>-->
<!--        </classes>-->
<!--    </test>-->
</suite>